/Mini-avatar-customization-system/.vscode
/Mini-avatar-customization-system/Library
/Mini-avatar-customization-system/Temp
/Mini-avatar-customization-system/UserSettings
Mini-avatar-customization-system/Mini-avatar-customization-system.sln
Mini-avatar-customization-system/Mini-avatar-customization-system.sln
Mini-avatar-customization-system/Assembly-CSharp.csproj
Mini-avatar-customization-system/Assembly-CSharp-Editor.csproj
Mini-avatar-customization-system/Mini-avatar-customization-system.sln
